@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter",sans-serif;
}
body{
    margin-top: 0;
    background-color: var(--border_color);
}
:root{
--main_color:#120538;
--p_color:#f89c11;
--white_color:#fff;
--color_heading:#121416;
--border_color:#0f1b44 ;
--sale-color:#d11313;
}


header{
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 300px;
    align-items: center;
    background-color: #00000036;   
}
header .logo img{
    width: 100px;
    cursor: pointer;
}
#search{
    background-color: transparent;
    border-radius: 30px;
    padding: 0.5rem 1rem;
    border: 1px solid #fff;
    color: #fff;
    transition: 0.6s  ease-in-out;
    height: 50px;
    font-size: 15px;
    width: 500px;
}
#search:focus{
    border:  1px solid #fff;
    outline: none;
    border-radius: 10px;
    background-color: #12141650;
}
#search::placeholder{
    color: #ffffff48;
}


main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 10px; */
}
.movie {
    width: 300px;
    margin: 1rem;
    box-shadow: 0.2px 4px 5px #12141652;
    background-color: #010e3a86;
    padding: 8px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    
}
.movie .movie-info{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    letter-spacing: 1px;
}
.movie .movie-info h3{
    margin-top: 0;
    
}
.movie img{
    width: 100%;
    border-radius: 10px;
} 
.movie-info span{
    background-color: #0b288550;
    padding: 0.25rem;
    border-radius: 3px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.movie-info span.green{
    color: #08d635;
}
.movie-info span.orange{
    color: orange;
}
.movie-info span.red{
    color: #d11313;
}


.overview{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(173, 168, 248, 0.158);
    padding: 1rem;
    max-height:100% ;
    backdrop-filter: blur(10px);
    transform: translateY(101%);
    transition: 0.5s;
    color: wheat;
    border-radius: 20px;
    transition: transform 0.6s ease;
    /* margin-bottom: 8px; */
}


.movie:hover .overview{
    transform: translate(0);
}


#tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 5px;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f807;
    margin: 10 10 auto;
    padding: 15px;
    border-radius: 15px;
}
.tag{
    padding: 10px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: royalblue;
    color: var(--white_color);
    font-weight: 500;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    transition: 0.7s;
    /* display: inline-block; */
    height: 50px;
}
.tag:hover{
    background-color: rgba(65, 105, 225, 0.418);
}
.Categ_title{
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: navajowhite;
    font-family: "Noto Sans", sans-serif;
    font-size: 1.5rem;
}

.active{
    background-color: mediumpurple;
}

.no_res{
    color: beige;
    margin-top: 5%;
}
.clearCategsBtn{
    background-color: var(--border_color);
    width: 150px;
    height: 60px;
    /* margin-top: 20px; */
    /* display: flex;
    align-self: center;
    justify-content: center; */
    color: beige;
    border-radius: 20px;
    border: 1px solid beige;
    cursor: pointer;
    font-size: 20px;
    transition: 0.8s;
}
.clearCategsBtn:hover{
    background-color: brown;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    color: beige ;
    gap: 10px;
    margin: 10px 10px;
}

.page{
    padding: 20px;
    cursor: pointer;
    font-weight: 600;
}

.disabled{
    color: #253647;
    cursor: not-allowed;
}

.current{
    padding: 20px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    height: 30px;
    background-color: seagreen;
    border-radius: 10px;
}


.knoMore{
    background-color: wheat;
    color: orangered;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid orangered;
    border-radius: 15px;
    padding: 10px 15px;
    outline: 0;
    margin-top: 8px;
    width: 100%;
    transition: .5s;
    cursor: pointer;
}
.knoMore:hover{
    color: beige;
    background-color: orangered;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden;
    transition: 0.5s; 
  }
  
  .atcv{
    width: 100%;
  }
  .overlay-content {
    position: relative;
    top: 25%; 
    width: 100%; 
    text-align: center; 
    margin-top: 30px; 
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; 
    transition: 0.3s; 
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
      position: absolute;
      top: 20px;
      padding: 8px;
      right: 45px;
      width: 45px;
      font-size: 35px;
      background-color: #ffffff;
      border-radius: 15px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #121416;
      transition: 0.5s;
    }
    .overlay .closebtn:hover{
        background-color: brown;
        color: burlywood;
    }
    
    .embed.hide{
        display: none;
    }
    
    .embed.show{
        display: inline-block;
    }

    .arrow{
        position: absolute;
        
    }
    .arrow.arrow-left{
        display: flex;
        align-items: center;
        justify-content: center;
        left:10%;
        height: 60px;
        padding: 10px;
        font-size: 40px;
        background-color: #173392;
        border-radius: 20px;
        color: #f1f1f1;

    }
    .arrow.arrow-right{
        display: flex;
        align-items: center;
        justify-content: center;
        right:10%;
        height: 60px;
        padding: 10px;
        font-size: 40px;
        background-color: #173392;
        border-radius: 20px;
    }
    
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
@media screen and (max-width:900px){
    header{
        gap: 40px;
    }
}

@media screen and (max-width:660px){
    header{
    flex-direction: column;
    padding-bottom: 20px;
    gap: 10px;
}
    header .logo img{
        width: 180px;
    }
}

@media screen and (max-width:540px){
    #search{
        width: 400px;
    }
}
